@font-face {
    font-family: 'Dongle'; /* https://fonts.google.com/specimen/Dongle/about */
    src: url('../media/Dongle-Light.ttf');
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #ddd;
    color: #707070;
    font-size: 30px;
    font-family: Dongle;
    text-decoration: none;
    line-height: 1.2rem;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: relative;
    color: #fff;
    background: #2ca6cb;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: linear-gradient(0deg, rgba(222,195,164,1) 75%, rgba(213,213,213,1) 100%); 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem;
    color: #706453;
}

header #site {
    display: flex;
}

header #site-avatar {
    margin: 0.5rem;
}

header #site-avatar img {
    display: block;
    border-radius: 50%;
    border-style: groove;
}

header #site-name {
    font-size: 2.4rem;
}

header #site-description {
    margin-top: 1rem;
}

header #site-motto {
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    header #site-name {
        margin-top: 1.5rem;
        line-height: 1.8rem;
        font-size: 3rem;
    }
  
    header #site-motto {
        font-size: 1.6rem;
    }
}


#header-nav {
    margin: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header-nav a {
    padding: 0.3rem 0.5rem;
}

#header-nav a:hover {
    background: #dddddd44;
    border-radius: 50%;
}

header #menu {
    display: none;
    width: 3rem;
    height: 3rem;
}

h1, h2, h3, h4 {
    color: #fff;
}

svg.icon {
    width: 1rem;
    height: 1rem;
}

svg.icon path {
    fill: #888;
}

main {
    box-sizing: border-box;
    padding: 1rem 0 0 0;
    flex-grow: 1;
    flex-shrink: 1;
}

main.container {
    background: linear-gradient(0deg, rgba(213,213,213,1) 75%, rgba(44,166,203,1) 100%);
    padding-bottom: 1rem;
}

main.container h1 {
    color: #fff;
    text-shadow: #000 1px 0 10px;
}

main a {
    color: #2ca6cb;
    padding: 0 0.5rem;
    white-space: nowrap;
}

main a:hover {
    background-color: #eee;
    border-radius: 50%;
}

main a sup {
    font-size: 0.6rem;
    position: relative;
    top: 0;
    right: 0;
}

main > h1 {
    font-size: 2.6rem;
    margin: 0 1rem;
    text-align: center;
}

article p {
    padding: 10rem;
    border-radius: 35%;
    background-image: radial-gradient(white 55%, rgba(255, 255, 255, 0.05) 70%, transparent 100%);
}

@media (max-width: 480px) {
  article p {
      padding: 5rem;
  }
}

section {
    display: flex;
}

section span {
    padding: 1rem 0;
}

article#posts, article#tags {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

article#posts {
    flex-direction: column;
    margin-left: 4rem;
}

article h1 {
    font-size: 1.8rem;
}

article h2 {
    font-size: 1.5rem;
}

article h3 {
    font-size: 1.2rem;
}

article h4 {
    font-size: 1rem;
}

article h1,
article h2,
article h3,
article h4 {
    margin: 1rem 0;
}

p strong {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

p em {
    color: purple;
} 


main ul,
main ol {
    padding-left: 3rem;
    list-style-position: outside;
}

main ol {
    list-style-type: decimal;
}

main ul {
    list-style-type: disc;
}

main blockquote {
    padding-left: 3rem;
}

main p img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main p code,
main li > code {
    font-family: monospace;
    border: 1px solid #ddd;
    padding: 0px 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

pre code {
    display: block;
    border: 1px solid #ddd;
    margin-left: 2rem;
    padding: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eee;
    font-family: monospace;
    line-height: 1.2rem;
    overflow: auto;
}

table {
    table-layout: auto;
    border-collapse: collapse;
}

table thead {
    font-weight: bold;
}

table td {
    text-align: center;
    border: 1px solid #888;
    min-width: 4rem;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 1;
}

#pages {
    margin: 0 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

#pages a,
#pages .info {
    margin: 0 0.5rem;
}

#article-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#article-footer .icon {
  position: relative;
  top: 0.25rem;
}

@media (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .title {
        font-size: 1rem !important;
    }

    header #menu {
        display: block;
        margin: 0 1rem;
    }

    #header-nav {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 100;
        margin: 0;
        background: linear-gradient(180deg, #2ca6cb 50%, transparent 100%); 
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #header-nav a {
        width: 100%;
        font-size: 1.5rem;
        padding: 1.5rem;
        box-sizing: border-box;
        text-align: center;
    }
}
